@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;600&display=swap');

:root {
    --fonte-primaria: 'Roboto Condensed', sans-serif;
    --cor-primaria: #3e99c9;
    --cor-secundaria: #4d7d96;
    --cor-tres: #1CAEFC;
    --cor-quatro: #475963;
    --cor-cinco: #2d3133;
    --cor-preto: #232122;
    --cor-branco: #FFF;
}

body{
    font-family: var(--fonte-primaria);
    background-color: var(--cor-tres);
    color: var(--cor-branco);
    text-shadow: #232122c5 2px 2px 2px;
}

header{
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .titulo__app{
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .app__logo {
    width: 100px;

}

.app__container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 500px;
    padding: 12px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.pesquisar__cidade {
    margin-bottom: 24px;
    display: flex;
}

.pesquisa {
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 12px;
}

.pesquisa:focus {
    outline: none;
}

.botao__buscar {
    padding: 12px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.botao__buscar:hover {
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
}


.cidade__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.cidade__nome {
    font-size: 32px;
}

.cidade__temp {
    font-size: 64px;
}

.cidade__info__complemento{
    display: flex;
    gap: 32px;
    margin-top: 12px;
}